body {
    font-family: "Roboto";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 30px;
    background: black;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 300;
    font-size: 30px;
    color: white;
}

.header__name {
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.header__media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__media img {
    filter: invert(1);
    display: block;
    width: 40px;
}

.info {
    padding: 60px 0 60px;
    background: white;
}

.info__flex {
    display: flex;
    justify-content: space-between;
}

.info__text {
    width: 500px;
}

.info__title {
    font-weight: 700;
    font-size: 56px;
    color: black;
}

.info__desc {
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.info__image {
    display: block;
    width: 380px;
}

.hard {
    padding: 40px 0 150px;
    background: black;
}

.hard__title {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    color: white;
}

.hard__flex {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hard__item {
    font-weight: 700;
    font-size: 90px;
    color: white;
}

.PORTFOLIO {
    padding: 60px 0 60px;
    background: white;
}

.portfolio__title {
    text-align: center;
    font-weight: 700;
    font-size: 75px;
    color: black;
}

.portfolio__flex {
    margin: 40px 0 0 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio__item {
    width: 320px;
    border: 4px solid black;
    padding: 25px 16px 120px 25px;
    background: white;
    font-weight: 700;
    font-size: 60px;
    color: black;
}

.git {
    background: black;
    color: white;
}

.end {
    padding: 70px 0 70px;
    background: black;
    margin: 50px 0 0 0;
}

.end__text {
    font-weight: 700;
    font-size: 150px;
    color: white;
}

.end__image {
    display: block;
    width: 400px;
    margin: 0 auto
}